.popup__closed {
    width: 32px;
    height: 32px;
    border-radius: 40px;
    position: absolute;
    left: 438px;
    top: -38px;
    z-index: 1;
    margin: 0 auto;
    cursor: pointer;
    transform: rotate(45deg) scale(1);
}

.popup__closed:hover {
    opacity: 0.6;
}

@media screen and (max-width: 540px) {
    .popup__closed {
        width: 20px;
        height: 20px;
        left: 262px;
        top: -46px;
    }
}