.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 880px;
    height: 74px;
    margin: auto;
}

@media screen and (max-width: 880px) {
    .header {
        width: 98%;
        height: 56px;
    }
}