.profile__activity {
    margin: 13px auto 0;
    font-family: 'Regular', 'Medium', 'Black';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 660px) {
    .profile__activity {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}