.elements__block {
    margin: 5px 5px 0 0;
    width: 22px;
    height: 19px;
    background: url(../../../images/Heart.svg) no-repeat center;
    object-fit: cover;
    /* border: 1px solid red; */
}

.elements__block:hover {
    opacity: 0.5;
}