.popup__field-first{
    margin: 0 auto 30px 36px;
    width: 358px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-bottom: 1px solid black;
}