.profile__rectangle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 18px;
    width: 24px;
    height: 24px;
    border: 1px solid white;
}

@media screen and (max-width: 660px) {
    .profile__rectangle {
        margin-top: 22px;
    }
}